---
import Section from '@/components/Section.astro';
import Icon from '@/components/Icon.astro';

import { skills } from "@cv"
---


{
  skills.length > 0 && (
    <Section title="Conocimientos técnicos">

   <ul>
        {
            skills.map(
                ({ name }) => {
                    const iconName = name === "Next.js" ? "Next" : name

                    return (
                    <li>
                        <Icon name={iconName} /> <span>{name}</span>
                    </li>
                )}
            )
        }
   </ul>

    </Section>
  )
}

<style>
    ul {
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li {
        align-items: center;
        background: var(--color-accent);
        border-radius: 6px;
        color: var(--color-primary);
        display: flex;
        font-size: 0.8rem;
        font-weight: 500;
        gap: 6px;
        padding: 0.2rem 0.6rem;
    }

    @media print {
        ul {
            display: inline;
            line-height: 1.4;
        }
        
        li {
            display: inline;
            background-color: transparent;
            padding: 0;
            color: #333;
            font-weight: 500;
            border-radius: 0;
            font-size: 0.75rem;
        }

        li::after {
            content: ", ";
            margin-right: 2px;
        }

        li:last-child::after {
            content: ".";
        }
        
        li :global(svg) {
            display: none; 
        }
    }
</style>