---
import Section from '@/components/Section.astro';

import { skills } from "@cv"
---


{
  skills.length > 0 && (
    <Section title="Conocimientos técnicos">

   <ul>
        {
            skills.map(
                ({ name }) => (
                    <li>
                        <span>{name}</span>
                    </li>
                )
            )
        }
   </ul>

    </Section>
  )
}

<style>
    ul {
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li {
        background-color: var(--color-accent);
        padding: 0.2rem 0.6rem;
        color: var(--color-primary);
        border-radius: 6px;
        font-size: 0.8rem;
        font-weight: 500;
    }

    @media print {
        ul {
            display: inline;
            line-height: 1.6; /* Improve readability */
        }
        
        li {
            display: inline;
            background-color: transparent;
            padding: 0;
            color: #333; /* Darker gray instead of pure black for subtle contrast */
            font-weight: 500;
            border-radius: 0;
            font-size: 0.85rem;
        }

        li::after {
            content: ", ";
            margin-right: 2px;
        }

        li:last-child::after {
            content: ".";
        }
    }
</style>